.background-image {
	               background-image: url('../assets/hero-bg.jpg');
				   height: 675px;
				   background-position: center;
                   }
.button  {
	       padding:400px 393px 15px;
          }
.button b{
	color: blue;
	font-weight: 900;
}		  
/* .background-image h2 {
	               padding:400px 393px 15px;
                   }
.background-image p {
	                padding: 00px 393px 292px;
                   } */
